<%= render 'layouts/header' %>
<div class="container text-center mb-5">
    <%= render 'layouts/flashes' %>
    <h1>マイページ</h1>
    <% if current_user.
    <h2 class="my-5 mx-auto"></h2>
</div>
<%= render 'layouts/footer' %>