<% set_meta_tags title: "サイトについて", description: "ママぐちのコンセプト、ご利用のルールなどをご紹介。" %>
<div class="container text-center mb-5">
    <h1>投稿者の心理的安全を第一に</h1>
    <%= image_pack_tag 'about_image.jpg', class: 'mw-100' %>
    <h2 class="my-5 mx-auto">自分に溜め込んでいませんか？</h2>
    <p class="lead">子育てをしていて抱える悩みや愚痴<br>
    人に話したいけど話してもどうせ分かってもらえない<br>
    twitterやfacebook、その他SNSサービスに投稿しても<br>
    見ず知らずの人に叩かれたり、炎上しちゃうかも<br>
    だったら自分一人で抱え込めば良い。。とか<br>
    こんな考えを抱く私が親として失格なんだ。。と<br>
    上の写真のように自分を自分で否定したり<br>
    悩みや愚痴を溜め込んでいませんか。</p>
    <h2 class="my-5 mx-auto">投稿から繋がるお世話の原動力</h2>
    <p class="lead">子供が可愛いからこそ抱えている悩みのギャップに苦しんでいるはず<br>
    だからといって溜め込むのは精神的にも不健康。<br>
    ママぐちでは匿名での書き込み、リアルの繋がりも無いので人目を気にせず投稿できます。<br>
    少しでもママの負担を減らし笑顔が増え、楽しい家庭が増えたら良いなと思っています。</p>
    <h2 class="my-5 mx-auto">サイト利用者の心構え</h2>
    <ul class="list-unstyled mx-auto text-center">
        <li class="my-3 rule">①<span class="list">投稿してはいけない内容は無い</span></li>
        <li class="my-3 rule">②<span class="list">誹謗中傷、荒らし行為はしない</span></li>
        <li class="my-3 rule">③<span class="list">投稿されてる内容を受け止める</span></li>
        <li class="my-3 rule">④<span class="list">コメントは共感できる場合のみ</span></li>
        <li class="my-3 rule">⑤<span class="list">アドバイスは求められてるなら</span></li>
    </ul>
    <h2 class="my-5 mx-auto">運営側の方針</h2>
    <p class="lead">上記、サイト利用者の心構えに適さない投稿などを発見した場合<br>
    直ちに投稿、またはコメントを削除させて頂きます。<br>
    サイト利用者の心理的安全を守る為の判断と<br>
    ご理解頂けますと幸いでございます。</p>
    <h2 class="my-5 mx-auto">運営者より</h2>
    <p class="lead">妻の話を聞く中で世間の母親に対する母親像と<br>
    妻が抱える悩みとのギャップが母親の孤立感を増やすのでは無いかと思い<br>
    人に言えないどんな悩みや愚痴も投稿できるサービスを始めました。<br>
    旦那さん、両親や友達、SNSなどに言えないママさんの孤立感を少しでも<br>
    和らげることが出来たら良いなと考えています。<br>
    改善してほしい点などありましたら随時、受け付けております。<br>
    どうぞ宜しくお願い致します。</p>
</div>