$main-color: #eb616c;

body {
    font-family: 'Kosugi Maru', sans-serif;
    background-color:#faf3ea;
    padding-top:90px;
    #wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}

#main_image {
    position:relative;
    h1 {
        position:absolute;
        color:grey;
        font-size:24px;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
    }
}

.container {
    border-radius:4px;
    h2 {
        width:100%;
        font-size:22px;
    }
    h1 {
        font-size:20px;
        color:grey;
    }
}

.alert {
    width:50%;
}

.navbar {
    box-shadow:1px 1px 1px #ccc;
    font-weight:700;
    .navbar-brand {
        font-weight:900;
        font-size:xx-large;
    }
}

.lead {
    font-size:16px;
}

.rule {
    font-size:24px;
}

.list {
  position: relative;
  background: #fbd2d5;
  padding: 2px 10px 2px 20px;
  font-size: 18px;
  color: #757575;
  border-radius: 0 10px 10px 0;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.29);
}

.list:before {
  content: "♪";
  display: inline-block;
  line-height: 40px;
  position: absolute;
  padding: 0em;
  color: white;
  background: $main-color;
  font-weight: 900;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  left: -1.35em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.29);
  border-bottom: solid 2px #c5444e;
}

.container-box {
    width:80%;
    border:1px solid #faf3ea;
    border-radius:4px;
    padding-top:20px;
    padding-bottom:50px;
    box-shadow:1px 1px 2px;
    background-color:white;
    h1 {
        width:50%;
        border-bottom:3px solid $main-color;
    }
}

.content {
    border-bottom:1px dashed #ccc;
    h2 {
        font-size:26px;
        font-weight:700;
        color:grey;
    }
    h3 {
        font-size:16px;
        font-weight:500;
        color:grey;
        margin-bottom:20px;
    }
    p {
        color:grey;
        font-size:22px;
        word-wrap: break-word;
    }
}

.field {
    width:50%;    
}

.profile_image {
    object-fit:cover;
    border-radius:50%;
}

.profile_image_small {
    width:50px;
    height:50px;
    object-fit:cover;
    border-radius:50%;
}

//#post_area cards style

#post_area .card {
    padding-left:0px;
    box-shadow:1px 1px 2px grey;
    .card-body {
        position: relative;
        height:243px;
        .card-title {
            color:grey;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .card-text {
            color:grey;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow:hidden;
        }
        .user-info {
            border-top:1px dashed lightgrey;
            position: absolute;
            bottom:0;
            width:90%;
            display:flex;
            align-items:center;
            .button-info {
                margin-left:auto;
            }
        }
    }
    .card-body .ranking {
        height:auto;
    }
}


#ranking_area .card {
    padding-left:0px;
    box-shadow:1px 1px 2px grey;
    .card-body {
        position: relative;
        .card-title {
            color:grey;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border-bottom:1px dashed grey;
            .title-header {
                color:white;
                background-color:$main-color;
                border-radius:5%;
            }
        }
        .card-text {
            color:grey;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow:hidden;
        }
        .category-lists {
            display:flex;
            flex-wrap:wrap;
            .category-list {
                a {
                    display: inline-block;
                    margin: 0 .1em .6em 0;
                    padding: .6em;
                    line-height: 1;
                    color:white;
                    text-decoration:none;
                    background-color:$main-color;
                    border-radius: 2em 0 0 2em;
                    transition:1s;
                }
                a:before {
                    content:"●";
                    margin-right: .5em;
                    color:white;
                }
                a:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

.justify-center {
    justify-content:center;
}

.page-link {
    color:$main-color;
}


.page-item.active .page-link {
    background-color:$main-color;
    border-color:$main-color;
}

.fa-heart {
    color:$main-color;
}

.fa-star {
    color:#ffd700;
}

.comment-list {
    .comment {
        border-bottom:1px solid #ccc;
        display:flex;
        flex-flow:row wrap;
        align-items:center;
        align-content:center;
        #user_area {
            flex-grow:1;
            flex-basis:34%;
        }
        #comment_area {
            flex-grow:4;
            flex-basis:60%;
            word-break: break-all;
        }
    }
}

.comment-box {
    border-bottom:1px dashed #ccc;
    .field {
        width:100%;
    }
}

.follow-box {
    border-top:1px dashed #ccc;
    .follow {
        width:80%;
        border-bottom:1px solid #ccc;
        .font {
            font-size:20px;
        }
    }
}

.img-upload-btn {
    display:none;
}

#preview {
    box-sizing: border-box;
    display:flex;
    flex-wrap:wrap;
    width:80%;
    height:auto;
    justify-content:center;
    list-style-type:none;
    margin-top:10px;
    #upload_area {
        flex:1;
        margin-left:20px;
        .upload-label {
            background-color: rgb(245, 245, 245);
            height: 150px;
            border-width: 1px;
            border-style: dashed;
            border-color: rgb(204, 204, 204);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            }
        .upload-list {
            height:180px;
            width: 33%;
            padding: 0px 4px;
            margin-top: 8px;
            figure {
                margin:0px auto;
                height:150px;
                background-color: rgb(245, 245, 245);
                img {
                    width:100%;
                    height:100%;
                    object-fit: contain;
                }
            }
        }            
    }
}

.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  .tab_item {
      width: calc(100%/3);
      height: 50px;
      border-bottom: 3px solid $main-color;
      background-color: white;
      line-height: 50px;
      font-size: 15px;
      text-align: center;
      color: #565656;
      display: block;
      float: left;
      text-align: center;
      font-weight: bold;
      transition: all 0.2s ease;
  }
  .tab_item:hover {
      opacity: 0.75;
  }
  input[name="tab_item"] {
      display: none;
  }
  .tab_content {
      display: none;
      padding: 20px 20px 0;
      clear: both;
      overflow: hidden;
  }
  #post:checked ~ #post_content,
  #like:checked ~ #like_content,
  #favorite:checked ~ #favorite_content {
      display: block;
  }
}

.tabs input:checked + .tab_item {
  background-color: $main-color;
  color: #fff;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}


.tabs input:checked + .tab_item {
  background-color: $main-color;
  color: #fff;
}

footer {
    margin-top:100px;
}