$main-color: #eb616c;

body {
    background-color:#faf3ea;
    padding-top:90px;
}

#main_image {
    position:relative;
    h1 {
        position:absolute;
        color:grey;
        font-size:24px;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
    }
}

.container {
    font-family:Meiryo;
    border-radius:4px;
    h2 {
        border-bottom:2px solid $main-color;
        width:40%;
        font-size:20px;
    }
    h1 {
        font-size:20px;
        font-family:Meiryo;
        color:grey;
    }
}

.alert {
    width:50%;
}

.navbar {
    box-shadow:1px 1px 1px #ccc;
    font-weight:700;
    .navbar-brand {
        font-family:Meiryo;
        font-weight:900;
        font-size:xx-large;
    }
}

.lead {
    font-size:16px;
}

.rule {
    font-size:24px;
}

.list {
    border-bottom:3px solid #dc3545;
    font-weight:600;
}

.container-box {
    width:80%;
    border:1px solid #faf3ea;
    border-radius:4px;
    padding-bottom:50px;
    box-shadow:1px 1px 2px;
    background-color:white;
    h1 {
        width:50%;
        border-bottom:3px solid $main-color;
    }
}

.content {
    border-bottom:1px dashed #ccc;
    h2 {
        font-size:20px;
        font-weight:700;
        color:grey;
    }
}

.field {
    width:50%;    
}

.profile_image {
    object-fit:cover;
    border-radius:50%;
}

.profile_image_small {
    width:50px;
    height:50px;
    object-fit:cover;
    border-radius:50%;
}

//cards style

.card {
    padding-left:0px;
    box-shadow:1px 1px 2px grey;
    .card-body {
        position: relative;
        height:216px;
        .card-title {
            color:grey;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .card-text {
            color:grey;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow:hidden;
        }
        .user-info {
            border-top:1px dashed lightgrey;
            position: absolute;
            bottom:0;
            width:200px;
        }
    }
}

.justify-center {
    justify-content:center;
}

.page-link {
    color:$main-color;
}


.page-item.active .page-link {
    background-color:$main-color;
    border-color:$main-color;
}

.fa-heart {
    color:$main-color;
}

.fa-star {
    color:#ffd700;
}

.comment-box {
    border-bottom:1px dashed #ccc;
    .comment {
        width:60%;
        border-bottom:1px solid #ccc;
    }
}

.follow-box {
    border-top:1px dashed #ccc;
    .follow {
        width:80%;
        border-bottom:1px solid #ccc;
        .profile_image {
            width:100px;
            height:100px;
        }
        .font {
            font-size:20px;
        }
    }
}

.img-upload-btn {
    display:none;
}

#preview {
    box-sizing: border-box;
    display:flex;
    flex-wrap:wrap;
    width:80%;
    height:auto;
    justify-content:center;
    list-style-type:none;
    margin:0px auto;
    #upload_area {
        flex:1;
        margin-left:20px;
        .upload-label {
            background-color: rgb(245, 245, 245);
            height: 150px;
            border-width: 1px;
            border-style: dashed;
            border-color: rgb(204, 204, 204);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            }
        .upload-list {
            height:180px;
            width: 33%;
            padding: 0px 4px;
            margin-top: 8px;
            figure {
                margin:0px auto;
                height:150px;
                background-color: rgb(245, 245, 245);
                img {
                    width:100%;
                    height:100%;
                    object-fit: contain;
                }
            }
        }            
    }
}

.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  .tab_item {
      width: calc(100%/3);
      height: 50px;
      border-bottom: 3px solid $main-color;
      background-color: white;
      line-height: 50px;
      font-size: 16px;
      text-align: center;
      color: #565656;
      display: block;
      float: left;
      text-align: center;
      font-weight: bold;
      transition: all 0.2s ease;
  }
  .tab_item:hover {
      opacity: 0.75;
  }
  input[name="tab_item"] {
      display: none;
  }
  .tab_content {
      display: none;
      padding: 40px 40px 0;
      clear: both;
      overflow: hidden;
  }
  #post:checked ~ #post_content,
  #like:checked ~ #like_content,
  #favorite:checked ~ #favorite_content {
      display: block;
  }
}

.tabs input:checked + .tab_item {
  background-color: $main-color;
  color: #fff;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}


.tabs input:checked + .tab_item {
  background-color: $main-color;
  color: #fff;
}

footer {
    margin-top:100px;
}