body {
    background-color:whitesmoke;
}

.container {
    font-family:Meiryo;
}

.alert {
    width:50%;
}

h1 {
    font-size:28px;
    font-weight:500;
    font-family:Meiryo;
}

.navbar {
    box-shadow:1px 1px 1px #ccc;
    font-weight:700;
}

.navbar-brand{
    font-family:Meiryo;
    font-weight:900;
    font-size:xx-large;
}

.container h2 {
    border-bottom:5px solid #ffcc33;
    width:55%;
}

.rule {
    font-size:24px;
}

.list {
    border-bottom:3px solid #dc3545;
    font-weight:600;
}

.login-list {
    border:3px solid gray;
    padding-bottom:50px;
    box-shadow:1px 1px 2px;
    background-color:white;
}

.login-list h1 {
    width:50%;
    border-bottom:3px solid #ffcc33;
}

.field {
    width:50%;    
}

footer {
    margin-top:100px;
}