<div class="card my-2" id="category_list">
    <div class="card-header text-left">
        カテゴリ一覧
    </div>
    <div class="card-body text-left">
        <div class="category-lists">
            <% categories.each do |category| %>
            <div class="category-list">
                <%= link_to category_path(category) do %>
                <%= category.name %>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
</div>