<% set_meta_tags title: "検索結果一覧", description: "検索結果一覧ページです", noindex: true %>
<div class="container text-center mb-3">
    <%= render 'layouts/flashes' %>
    <h1>検索結果一覧</h1>
    <div class="container text-center mb-5" >
        <% if @posts.exists? %>
        <div class="row card-area mx-auto" id="post_area">
        <%= render 'posts/search_result', collection: @posts %>
        </div>
        <div class="my-4 text-center">
            <%= paginate @posts %>
        </div>
        <% else %>
        <p>該当する投稿内容がありません。</p>
        <% end %>
    </div>
</div>