<% if @post.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li class="pr-5 text-danger list-unstyled"><i class="fas fa-exclamation-triangle"></i><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>